<mat-card-title>{{ 'HOME.Requests' | translate }} </mat-card-title>
<div *ngFor="let request of tripRequests">
  <mat-card *ngIf="request.status!=2" >
    <mat-card-header>
      <img *ngIf="request.passenger.profileImageName !==null" mat-card-avatar class="avatar-preview" [src]="request?.passenger.profileImageName ? 'ProfilePictures/' + request?.passenger.id + '/' + request?.passenger.profileImageName : this.url " />
      <div *ngIf="request.passenger.profileImageName ===null" mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ 'HOME.Username' | translate }} <a [routerLink]="['/profile',request.passenger.id ]">{{request.passenger.username}}</a></mat-card-title>
      <mat-card-subtitle>{{ 'HOME.RequestedOn' | translate }} {{request.requestDate}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
      {{request.passengerNote}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="request.status!=2" mat-button color="primary" (click)="acceptOrReject(request.id, 2)">{{ 'HOME.accept' | translate }}</button>
      <button *ngIf="request.status!=2" mat-button color="primary" (click)="acceptOrReject(request.id, 3)">{{ 'HOME.reject' | translate }}</button>
      <div class="danger" *ngIf="request.status==2" mat-button>{{ 'HOME.Approved' | translate }}</div>
    </mat-card-actions>
  </mat-card>
  </div>

