


<div class="row">





  <div class="col">
    <mat-card class="text-center">
      <mat-card-header>
        <div class="avatar-upload">
          <div class="avatar-edit">
            <input type='file' id="imageUpload" (change)=readUrl($event) accept=".png, .jpg, .jpeg" />
            <label for="imageUpload" *ngIf="user.id ==authService.getLoggedInUserId()"></label>
          </div>
          <div class="avatar-preview">
            <img class="imgpreview" [src]=url />
          </div>


        </div>

      </mat-card-header>
      <h4 class="card-category text-gray">{{user.username}}</h4>

      <h6 class="card-title">{{user.country}}</h6>

     


      <div class="row text-center">
        <div class="col" *ngIf="user.id !=authService.getLoggedInUserId()"><button mat-raised-button color="primary" (click)="openRatingDialog()">{{ 'HOME.rateButton' | translate }}</button></div>
         
        <div class="col" *ngIf="user.id ==authService.getLoggedInUserId()">
          <button mat-raised-button color="primary" (click)="openCompleteDialog()">{{ 'HOME.editprofileinfo' | translate }}</button>
          <div class="m-2"></div>
          <button mat-raised-button color="primary" (click)="openCompleteDialog()">{{ 'HOME.SavePhoto' | translate }}</button>
        </div>
        </div>
    </mat-card>
  </div>
  <div class="col">

    <mat-card class="col-md-12">
      <mat-tab-group>
        <mat-tab label="{{ 'HOME.ProfileInfo' | translate }}">
          <mat-card>
            <mat-grid-list cols="1" rowHeight="2:1">
              <mat-grid-tile>
                <p>{{user.country}}</p>
              </mat-grid-tile>
              <div *ngIf="user.fullName !== null">
              <mat-card><mat-icon matPrefix>person</mat-icon><b>{{ 'HOME.FullName' | translate }} </b>{{user.fullName}}</mat-card>
              </div>
              <div *ngIf="user.gender !== null"><mat-card *ngIf="user.gender==true ;else female">
                <i class="material-icons">wc</i>
                <b>{{ 'HOME.Gender' | translate }} </b>Male
              </mat-card>
              <ng-template #female>
                <mat-card><i class="material-icons">wc</i>
                <b>{{ 'HOME.Gender' | translate }} </b>Female</mat-card></ng-template>
              </div>
              <div *ngIf="user.country !== null">
              <mat-card><i class="material-icons">language</i><b>{{ 'HOME.country' | translate }} </b>{{user.country}}</mat-card>
              </div>
              <div *ngIf="user.username !== null">
              <mat-card><i class="material-icons">person_pin</i><b>{{ 'HOME.Username' | translate }} </b>{{user.username}}</mat-card>
              </div>
              <div *ngIf="user.email !== null">
              <mat-card><i class="material-icons">email</i><b>{{ 'HOME.Email' | translate }} </b> {{user.email}}</mat-card>
              </div>
              <div *ngIf="user.mobileNumber !== null">
              <mat-card><i class="material-icons">phone_iphone</i><b>{{ 'HOME.MobileNumber' | translate }} </b> {{ user.mobileNumber }} </mat-card>
              </div>
              <div *ngIf="user.birthDate !== null">
              <mat-card><i class="material-icons">date_range</i><b>{{ 'HOME.BirthDate' | translate }} </b>{{ user.birthDate | date }}</mat-card>
              </div>
            
            </mat-grid-list>
          </mat-card>
        </mat-tab>
        <mat-tab label="{{ 'HOME.TripsLabel' | translate }}">
         
          <mat-card>

            <table class="table">
              <thead>
                <tr>
                  <th>{{ 'HOME.fromDest' | translate }} </th>
                  <th>{{ 'HOME.toDest' | translate }} </th>
                  <th>{{ 'HOME.StartTime' | translate }} </th>
                  <th>{{ 'HOME.Status' | translate }} </th>
                  <th>{{ 'HOME.isArrived' | translate }} </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let T of user.trip">
                  <td>{{T.fromDestination}}</td>
                  <td>{{T.toDestination}}</td>
                  <td>{{T.startTime | date}}</td>
                  <td>{{T.status}}</td>
                  <td *ngIf="T.status == true;else no">{{ 'HOME.yes' | translate }}</td>
                  <ng-template #no><td>{{ 'HOME.no' | translate }}</td></ng-template>
                </tr>
              </tbody>
            </table>

</mat-card>

</mat-tab>
        <mat-tab label="{{ 'HOME.Requests' | translate }}">
          <table class="table">
            <thead>
              <tr>
                <th>{{ 'HOME.RequestDate' | translate }} </th>
                <th>{{ 'HOME.PassengerNote' | translate }} </th>
                <th>{{ 'HOME.Status' | translate }} </th>
                <th>{{ 'HOME.PaymentMethod' | translate }} </th>                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let R of user.request">
                <td>{{ R.requestDate }}</td>
                <td>{{ R.passengerNote }}</td>
                <td>{{ R.status }}</td>                
                <td>{{ R.paymentMethod }}</td>
              </tr>
            </tbody>
          </table>
       
        </mat-tab>
        <mat-tab label="{{ 'HOME.Ratings' | translate }}">
        
          <mat-card>
            <table class="table">
              <thead>
                <tr>
                  <th>{{ 'HOME.Username' | translate }} </th>
                  <th>{{ 'HOME.RateValue' | translate }} </th>
                  <th>{{ 'HOME.Note' | translate }} </th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let R of user.ratingUser">
                  <th scope="row"><a href="">{{R.ratedUser}}</a></th>
                  <td> {{ R.rating1 }}<i class="material-icons">star_rate</i></td>
                  <td>{{ R.note }}</td>
   
                </tr>
              </tbody>
            </table>
           
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card>


  </div>

</div>
<simple-notifications></simple-notifications>
