<div class="main-content ">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <mat-card>
          <i class="material-icons lg">
            directions_car
          </i>
          <p>Number of trips :10</p>
        </mat-card>
      </div>
      <div class="col text-center">
        <mat-card>
          <i class="material-icons lg">
            date_range
          </i>
          <p>Number of Requests :10</p>
        </mat-card>
      </div>
      <div class="col text-center">
        <mat-card>
          <i class="material-icons lg">
            how_to_reg
          </i>
          <p>Number Of Users :10</p>
        </mat-card>
      </div>
      <div class="col text-center">
        <mat-card>
          <i class="material-icons lg">
            report
          </i>
          <p>Number Of Reports :10</p>
        </mat-card>
      </div>
    </div>
    <div class="row mt-4">
      <mat-card class="w-100">
        <table class="table">
          <caption>List of Reports</caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
</div>
