<body [dir]="isRtl()">
  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
      <mat-nav-list>
        <mat-list-item>
          <button mat-icon-button (click)="isExpanded = !isExpanded">
            <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
            <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngFor="let menuItem of menuItems">
          <a mat-list-item [routerLink]="[menuItem.path]" routerLinkActive="active-link">
            <i mat-list-icon class="material-icons">{{menuItem.icon}}</i>
            <p matLine *ngIf="isExpanded">{{menuItem.title}}</p>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <div class="example-sidenav-content">
      <mat-toolbar color="primary" style="margin-bottom:10px;">
        Lit's Ride
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="example-icon">account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/login">
            <span>Login</span>
          </a>
          <a mat-menu-item routerLink="/register">
            <span>Sign up</span>
          </a>
          <a mat-menu-item routerLink="/profile">
            <span>My Profile</span>
          </a>
        </mat-menu>
        <div>
          <label>
            {{ 'HOME.Language' | translate }}
            <select #langSelect (change)="translate.use(langSelect.value); internationalizationService.setLang(langSelect.value)">
              <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
          </label>
        </div>
      </mat-toolbar>
      <div class="container pad">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-container>
</body>
