
<mat-card>
  <h1>{{ 'HOME.filterResult' | translate }}</h1>
  <div class="row">
    <mat-form-field class="w-100">
      <input matInput disabled value="{{ 'HOME.Destination' | translate }}">
    </mat-form-field>
  </div>
  <div class="row mb-1 mx-1">
    <mat-form-field class="m-1">
      <input matInput placeholder="{{ 'HOME.fromDest' | translate }}">
    </mat-form-field>
    <mat-form-field class="m-1">
      <input matInput placeholder="{{ 'HOME.toDest' | translate }}">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="w-100">
      <input matInput disabled value="{{ 'HOME.Time' | translate }}">
    </mat-form-field>
  </div>
  <div class="row mb-1 mx-1">
    <mat-form-field class="m-1 w-100">
      <input matInput placeholder="{{ 'HOME.StartTime' | translate }}">
    </mat-form-field>

  </div>

  <div class="row">
    <mat-form-field class="w-100">
      <input matInput disabled value="{{ 'HOME.price' | translate }}">
    </mat-form-field>
  </div>
  <div class="row mb-1 mx-1">
    <mat-form-field class="m-1">
      <input matInput type="number" placeholder="{{ 'HOME.minPrice' | translate }}" [(ngModel)]="min">
    </mat-form-field>
    <mat-form-field class="m-1">
      <input matInput type="number" placeholder="{{ 'HOME.maxPrice' | translate }}" [(ngModel)]="max">
    </mat-form-field>
  </div>

</mat-card>



<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-danger btn-round mt-lg-5">{{ 'HOME.Cancel' | translate }}</button>
  <button mat-button class="btn btn-danger btn-round mt-lg-5">{{ 'HOME.submit' | translate }}</button>
</mat-dialog-actions>
